<%= form_with model: [book, book_comment], local: false do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, rows:'5', class: "form-control", id: "comment_textarea" %>
  </div>
  <%= f.submit "送信", class:"btn btn-info mt-2" %>
<% end %>